.login-govbr {
    &__content {
        display: grid;
        gap: 20px;
        max-width: 520px;
    }

    .govbr {
        background-color: #1351b4;
        color: #FFFFFF;

        > img {
            width: 50px;
            height: 100%;
        }
    }
}